// .am-wingblank{
//     margin-bottom:100px;
// }
.classify{
    margin-bottom:100px;
    height: 100%;
}

.inline{
    width: 25%;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
.am-button-warning {
    color: #fff;
    background-color: #9DC45F;
}
.fenlei{
    margin-top: 90px;
}